<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/indexstyle.css">
    <title>About Me</title>
</head>
<body>
    <div class="container">
        <img src="/images/me.jpeg" alt="Artjoms Aleksandrovs">
        <h1>Artjoms Aleksandrovs</h1>
        <p><strong>Hobby:</strong> Tennis and Cycling</p>
        <p><strong>Favourite Dish:</strong> Pizza</p>
        <p><strong>Skills:</strong> PHP, SQL</p>
        <div class="social-btn">
            <a href="https://github.com/GGHF1">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/artyom-aleksandrov-0b10b7285/">LinkedIn Profile</a>
        </div>
    </div>
    <script src="/js/indexscript.js"></script>
</body>
</html>